   
	body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(255, 255, 255);
            width:100%;
        }
        
    form{
		display: contents;
	}

    .container {
            max-width: 1000px;
            margin: 10px auto;
            padding: 30px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    .header{
		display: grid;
		grid-template-columns: repeat(3,1fr);
	}

    .date {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 20px;
        }
    .member-list{
		text-align: right;
		line-height: 100px;
	}
        
    .seating-area {
            position: relative;
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            display: grid;
            grid-template-rows: 1fr 3fr;
            grid-gap: 50px;		
        }


    .seats {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    .seats-col{
			display: flex;
			flex-flow: column;
			align-items: center;
		}
    .seat {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #ccc;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
        }

    .window-area{
/*			width: fit-content;*/
/*			display: flex;*/
/*			flex-direction: row;*/
/*			justify-content: center;*/
			margin:0 auto;
		}
   	 .window-desk {
            width: 100%; /* 座席6つ分の幅 */
            height: 50px; /* 机の高さ */
            background-color: rgb(243, 223, 175);
        	border-radius: 10px;
        	display: flex;
        }
        
	.door-area{
			display: grid;
		    grid-template-columns: 2fr 2fr 1fr;
		    margin:200	px,0 ;
		    justify-items:center;
		
		}
	.door-center-desk {
		/*               position: absolute;*/

            width: 100%; /* 座席6つ分の幅 */
            height: 250px; /* 机の高さ */
            background-color: rgb(243, 223, 175);
            top: 50px; /* 座席の上に配置 */
            left: calc(50% - 210px); /* 中央配置 */
        	border-radius: 10px;
        }
    .center-area{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
		
	.meeting-room{
			border: solid rgb(128, 128, 128);
			border-radius: 3%;
			height: 250px;
			width:80%;

		}
		
	.right-area{
			height: 250px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
/*			align-items: bottom;*/
			grid-template-areas: 
			"a a"
			"b c"
			;
			
		}
	.seat-right{
			grid-area: b;
			align-self: center;
			width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #ccc;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
		}
	.door-right-desk {
		/*               position: absolute;*/
			grid-area: c;
            width: 100%; /* 座席6つ分の幅 */
            height: 100%; /* 机の高さ */
            background-color: rgb(243, 223, 175);
            top: 50px; /* 座席の上に配置 */
            left: calc(50% - 210px); /* 中央配置 */
        	border-radius: 10px;
        }

    .date-controls {
            display: flex;
            justify-content: space-between;
            font-size: 3rem;
        }

    .date-controls button {
            background-color: rgb(255, 255, 255);
            color: rgb(192, 192, 192);
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }