<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/member.css}" />

<head>
<meta charset="UTF-8">
<title>メンバー一覧</title>
</head>
<body>
	
	<div class="container">
		<div class="title">メンバー一覧</div>
		<span>シート番号：</span>
		<span th:text="${param.seat}"></span>
		<br>
		<span>日付：</span>
		<span th:text="${param.date}"></span>
		<div>
			<a th:href="@{/seat}">戻る</a>
		</div>
		
			 <div class="member-container" >
				 
				<form 
				th:action="@{/confirmation}"
				method="post"

			 	th:each="member:${memberlist}" 
				th:object="${member}"
				th:id="${member.id}"
			 	>
					 <button 
					 th:text="${member.name}"
					 class="member"
					 type="submit" 
					 name="reserve_data"
					 th:value="${param.date} + '_' + ${param.seat} + '_' + ${member.id}" 
					 ></button>
				</form>

			</div>
		
	</div>

</body>
</html>