<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>座席予約</title>
</head>
<body>

<div class="container">
    <div class="title">予約情報詳細</div>
	
	<a th:href="@{/member}">戻る</a>
	<div>
		名前：<span th:text="${memberData.name}"></span>
	</div>
    <div class="member-info"
    th:each="reserve:${reserveData}" 
	th:id="${reserve.userId}"
 	>
	 	<div class="memberId">
	 	ID：
	 	<span th:text="${reserve.userId}"></span>
		</div>
	 	
	 	<div class="username">
	 	予約対象日：
	 	<span th:text="${reserve.reserveDate}"></span>
		</div>
	 
 	</div>
		
    
    <!-- ここに座席予約フォームなどを追加 -->

</div>

</body>
</html>
