<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>座席予約</title>
</head>
<body>

<div class="container">
    <div class="title">予約情報詳細</div>
	
	<a th:href="@{/user}">戻る</a>
	<div>
		名前：<span th:text="${userName}"></span>
	</div>
	
	<table>
        <thead>
            <tr>
                <th>日付</th>
                <th>座席番号</th>
                <th>名前</th>
                <!-- 他の予約情報の列を追加 -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="reservation : ${listReservationsByUser}">
                <td th:text="${reservation.reserveDate}"></td>
                <td th:text="${reservation.seatId}"></td>
                <td th:text="${reservation.user.name}"></td>
                <!-- 他の予約情報の列を追加 -->
            </tr>
        </tbody>
    </table>
<!--    <div class="member-info"-->
<!--    th:each="reserve:${reserveData}" -->
<!--	th:id="${reserve.userId}"-->
<!-- 	>-->
<!--	 	<div class="memberId">-->
<!--	 	ID：-->
<!--	 	<span th:text="${reserve.userId}"></span>-->
<!--		</div>-->
	 	
<!--	 	<div class="username">-->
<!--	 	予約対象日：-->
<!--	 	<span th:text="${reserve.reserveDate}"></span>-->
<!--		</div>-->
	 
<!-- 	</div>-->
		
    
    <!-- ここに座席予約フォームなどを追加 -->

</div>

</body>
</html>
