<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/member.css}" />

<head>
<meta charset="UTF-8">
<title>メンバー一覧</title>
</head>
<body>
	
	<div class="container">
		<div class="title">メンバー一覧</div>
		<span>シート番号：</span>
		<span th:text="${param.seatId}"></span>
		<br>
		<span>日付：</span>
		<span th:text="${param.reservationDate}"></span>
		<div>
			<a th:href="@{/seat}">戻る</a>
		</div>
		
			 <div class="member-container" >
				 
				<form 
				th:action="@{/reservation-confirmed}"
				method="post"
				
			 	th:each="user:${userlist}" 
				th:object="${user}"
				th:id="${user.id}"
			 	>
					 <button 
					 th:text="${user.name}"
					 class="member"
					 type="submit" 
					 name="reserve_data"
					 th:value="${param.reservationDate} + '_' + ${param.seatId} + '_' + ${user.id} + '_' + ${user.name}" 
					 ></button>
				</form>

			</div>
		
	</div>

</body>
</html>